@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13001B;
    --foreground: #ededed;
  }
}

.gradient-border-button{
  border: 1px solid transparent;
  background: 
      linear-gradient(#181818, #181818) padding-box,
      linear-gradient(90deg, #8a2be2, #ff00ff) border-box;
  border-radius: 3px;
}

.gradient-border-box{
  border: 1px solid transparent;
  background: 
      linear-gradient(#13001B, #13001B) padding-box,
      linear-gradient(90deg, #8a2be2, #ff00ff) border-box;
  border-radius: 3px;
}

.gradient-border-button:hover{
  
  background: 
      rgba(24, 24, 24, 0.2),
      linear-gradient(rgba(24, 24, 24, 0.8), rgba(24, 24, 24, 0.8)) padding-box,
      linear-gradient(90deg, #8a2be2, #ff00ff) border-box;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
